/* .box{
  background-color: red;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.circul{
  background-color: aqua;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
} */