body{
  display: flex;
}
.box1{
  position: relative;
  background-color: red;
  width: 100px;
  height: 100px;
}
.box2{
  position: relative;
  background-color: aqua;
  border-radius: 50%;
  width: 100px;
  height: 100px; 
}